.h-12 {
    height: 12.5%;
}

.w-12 {
    width: 12.5%;
}

.w-250p {
    width: 250px;
}

.w-500p {
    width: 500px;
}

.h-75p {
    height: 75px;
}

.h-500p {
    height: 500px;
}

.rounded-8p {
    border-radius: 8px;
}

.justify-items-center {
    justify-items: center;
}