.mt-70p {
    margin-top: 70px;
}

.pt-70p {
    padding-top: 70px;
}

.h-12 {
    height: 12.5%;
}

.w-12 {
    width: 12.5%;
}

.w-250p {
    width: 250px;
}

.w-600p {
    width: 600px;
}

.h-75p {
    height: 75px;
}

.h-600p {
    height: 600px;
}

.rounded-8p {
    border-radius: 8px;
}

.justify-items-center {
    justify-items: center;
}

.bg-half-grey {
    background-color: rgba(128, 128, 128, 0.347);
}

.fit-content {
    width: fit-content;
}